<br/><br/>
<footer class="blog-footer">
  <div class="container">
    <div class="row">

      <div class="col-sm-4">
        <h3>About</h3>
        <p>
          <a href="/">Home</a><br/>
          <a href="#">link 1</a><br/>
          <a href="#">link 2</a><br/>
          <a href="#">link 3</a><br/>
          <a href="#">link 4</a><br/>
        </p>
      </div>

      <div class="col-sm-4">
        <h3>Get Started</h3>
        <p>
          <a href="#">Join Our Mailing List</a><br/>
          <a href="#">Come to a Meetup</a><br/>
          <a href="#">FAQ</a>
        </p>
      </div>

      <div class="col-sm-4">
        <h3>Contact Us</h3>
        <p>
          <a href="http://github.com/c4hrva"><i class="fa fa-github fa-lg"></i> github</a><br/>
          <a href="https://facebook.com/"><i class="fa fa-facebook fa-lg"></i> Facebook</a><br/>
          Made with Open Code and Open Data by Code for Hampton Roads volunteers.
        </p>
      </div>

    </div>
  </div>
</footer>


<!-- Bootstrap core JavaScript
  ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
